.icon-48-mycomp
{
	background-image: url('../images/com_mycomp-icon-48x48.png');
}

.icon-48-createtask
{
	background-image: url('../images/com_mycomp-create-icon-48x48.png');
}

.icon-48-listtask
{
	background-image: url('../images/com_mycomp-list-icon-48x48.png');
}

.icon-48-helptask
{
	background-image: url('../images/com_mycomp-help-icon-48x48.png');
}